
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100">
<div class="content-fluid" style="min-height: 100vh">
    <div class="container mx-auto px-4 py-4">
        <div class="breadcrumbs text-sm">
            <ul>
                <li>
                    <a class="nav-link active " aria-current="page" href="${pageContext.request.contextPath}/#">
                        Grupo 4
                    </a>
                </li>

                <li>
                    Welcome
                </li>


            </ul>

        </div>
        <div class="flex justify-center gap-4">
            <div class="card card-sm bg-base-200 max-w-60 shadow" th:each="recipe : ${recipes}">
                <figure>
                    <img th:src="@{${recipe.images[0].url}}" th:alt="${recipe.images[0].description}"/>
                </figure>
                <div class="card-body">
                    <h3 class="card-title text-center mb-4" th:text="${recipe.title}"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>