<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</head>
<body class="min-h-screen flex flex-col justify-between"
      style="
        background-image: url('https://content.elmueble.com/medio/2024/01/10/cocina-de-madera-con-mueble-de-almacenaje-e-isla-central_da95a90a_00574902_240110143708_2000x1333.jpg');
        background-size: cover;">

<div class="content-fluid" style="min-height: 100vh">
    <div class="container mx-auto px-4 py-4">

          <nav class="navbar shadow-md px-6 text-white" style="background-color:#030303;">
    <div class="flex justify-between items-center w-full">
     <div class="breadcrumbs text-sm">
            <ul>
                <li>
                <a class="nav-link active " aria-current="page" href="${pageContext.request.contextPath}/#"> Grupo 14</a></li>
                <li>  Login </li>
            </ul>
        </div>
    </div>
  </nav>  
    <div class="flex justify-center" style="margin-top: 8rem; ">
        <div class="card bg-base-100 w-96 shadow-sm">
             <div class="card-body p-5">
                <h3 class="card-title text-center mb-4">Iniciar sesión</h3>

                 <div th:if="${param.error}" class="alert alert-danger">
                        Credenciales incorrectas. Por favor, inténtalo de nuevo.
                </div>
                 <div th:if="${param.no_session}" class="alert alert-danger">
                        Debe ingresar con las credenciales correctas para acceder a la página solicitada.
                 </div>

                <div th:if="${param.logout}" class="alert alert-success">
                        Has cerrado sesión correctamente.
                 </div>

                    <form th:action="@{/login}" method="post">
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend" >Email</legend>
                            <input type="text" class="input" name="email" value="da@localhost" placeholder="example@localhost" required/>
                            <legend class="fieldset-legend">Contraseña</legend>
                            <input type="password" class="input" id="password" name="password" value="p4ssw0rD!" required/>
                            <span class="flex justify-start items-center mt-2">
                            <input type="checkbox" checked="checked" class="toggle toggle-sm toggle-success"/>
                            <legend class="ml-2 fieldset-legend">Recordarme</legend>
                        </span>
                            <button type="submit" class="mt-3 btn btn-success">Ingresar</button>
                        </fieldset>
                    </form>

                    <div class="text-center mt-3">
                        <a th:href="@{/forgot-password}">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <footer class="text-center py-4 mt-auto text-white" style="background-color:#2e463b;">
    <p class="text-sm">© 2025 Grupo 14</p>
  </footer>
</body>