
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recetario - Inicio</title>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="bg-white min-h-screen flex flex-col">
<nav class="navbar shadow-md px-6 text-white" style="background-color:#10935a;">
    <div class="flex justify-between items-center w-full">
         <div class="breadcrumbs text-sm">
            <ul>
                <li><a class="nav-link active " aria-current="page" href="/"> Grupo 4 </a></li>
                <li th:text="'Bienvenido/a '+ ${user.displayName} "></li>
            </ul>
        </div>
       <div class="flex items-center gap-4 ml-auto">
            <div th:if="${user != null}" class="flex items-center gap-3">
                <a class="btn btn-sm btn-error" th:href="@{/logout}">Cerrar sesión</a>
            </div>
        </div>
    </div>
</nav>

<main class="flex-grow px-4 py-10">
    
   <h1 class="text-center font-extrabold mb-14 tracking-wide"
      style="font-size: 3rem; color: #10935a;">Recetas disponibles</h1>

  <div class="flex flex-wrap justify-center gap-10 max-w-7xl mx-auto">
    <div class="card w-80 bg-gray-100 shadow-xl hover:shadow-2xl transition-all duration-300"
         th:each="recipe : ${recipes}">
      <figure class="h-48 overflow-hidden rounded-t-lg">
        <img class="object-cover w-full h-full transition-transform duration-500 hover:scale-105"
             th:src="@{${recipe.images[0].url}}"
             th:alt="${recipe.images[0].description}" />
      </figure>
      <div class="card-body p-5 text-center">
        <h3 class="card-title text-xl font-bold text-zinc-800 mb-2" th:text="${recipe.title}">Título</h3>
        <p class="text-sm text-zinc-600 mb-4"
           th:text="${recipe.description}">
           Descripción corta de la receta…
        </p>
        <div class="card-actions justify-center">
          <a class="btn btn-sm text-white border-none bg-[#10935a] hover:bg-[#0c7c4b]"
             th:href="@{/recipe/{ulid}(ulid=${recipe.ulid})}">
            Ver Receta
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="text-center py-4 mt-auto text-white" style="background-color:#2e463b;">
    <p class="text-sm">© 2025 Grupo 4</p>
</footer>
</body>
</html>
