<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receta</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100">
<div class="content-fluid" style="min-height: 100vh">
    <div class="container mx-auto px-4 py-4">

            <main class="flex-grow container mx-auto px-4 py-10">
            <div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
                <div class="carousel rounded-box h-64">
                    <div class="carousel-item" th:each="image : ${recipe.images}">
                        <img th:src="@{${image.url}}" th:alt="${image.description}"/>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <h1 class="text-2xl font-bold text-gray-800" th:text="${recipe.title}"></h1>
                    <p class="text-gray-600" th:text="${recipe.description}"></p>

                    <h2 class="font-bold text-lg text-gray-700 mt-6">Ingredientes</h2>
                    <ul class="divide-y divide-[color:#7a2f25]">
                        <li class="py-2" th:each="ingredient : ${recipe.ingredients}"
                            th:text=" ${ingredient.amount} + ' ' + ${ingredient.unit} + ' de ' + ${ingredient.name}"></li>
                    </ul>


                    <h2 class="font-bold text-lg text-gray-700 mt-8">Preparación</h2>
                    <ol class="list-none pl-0 mt-2">
                        <li class="relative pl-9 my-2"
                            th:each="step,iter : ${recipe.steps}">
                            <span class="absolute left-0 top-0 font-bold text-teal-700"
                                  th:text="${iter.index + 1} + '.'"></span>
                            <span th:text="${step.description}"></span>
                        </li>
                    </ol>

                    <h2 class="font-bold text-lg text-gray-700 mt-8">Comentarios</h2>
                    <ul class="list bg-base-100">

                        <li class="list-row" th:each="comment,iter : ${recipe.comments}">
                            <div><img class="size-10 rounded-box"
                                      th:src="'https://api.dicebear.com/9.x/adventurer/svg?seed=' + ${comment.author}"/>
                            </div>
                            <div>
                                <div th:text="${comment.author}"></div>
                                <div th:text="${comment.formattedCreatedAt}"></div>
                            </div>
                            <p class="list-col-wrap text-xs" th:text="${comment.text}"></p>

                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="text-center py-4 mt-auto text-white" style="background-color:#2e463b;">
    <p class="text-sm">© 2025 Grupo 4</p>
</footer>

</body>